<p>{{ availableCards.length }} Total Cards in Shoe</p>

<p *ngIf="userScore > 21">Dealer Wins!</p>

<button *ngIf="gameActive == false" (click)="dealCards()">Deal Cards</button>
<p>Dealer Cards {{ dealerScore }}</p>
<div class="card-container" *ngIf="dealerCards.length > 0">
  <app-card *ngFor="let card of dealerCards" [card]="card"></app-card>
  <app-card card="red_back"></app-card>
</div>
<p>Player Cards: {{ userScore }}</p>
<div class="card-container" *ngIf="userCards.length > 0">
  <app-card *ngFor="let card of userCards" [card]="card"></app-card>
</div>
<div class="card-container" *ngIf="userCards.length > 0">
  <button (click)="hit()" [disabled]="userScore > 21">Hit</button>
  <button (click)="stand()" [disabled]="userScore > 21">Stand</button>
</div>
