<button (click)="showRandomCard()">Show Random Card</button>
<app-card [card]="randomCard"></app-card>

<p>{{ availableCards.length }} Total Cards in Shoe</p>

<button *ngIf="userScore == 0" (click)="dealCards()">Deal Cards</button>
<div class="card-container" *ngIf="dealerCards.length > 0">
  <p>Dealer Cards</p>
  <app-card *ngFor="let card of dealerCards" [card]="card"></app-card>
  <app-card card="red_back"></app-card>
</div>
<div class="card-container" *ngIf="userCards.length > 0">
  <p>Player Cards</p>
  <app-card *ngFor="let card of userCards" [card]="card"></app-card>
</div>
